.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.container {
  position: fixed;
  height: 80vh;
  width: 80%;
  z-index: 10;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(99, 0, 0, 0.3) 1px 3px 20px 3px;  
}
.video-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(184,4,4,0.72) 0%, rgba(161,3,3,0.83) 50%);
  z-index: 1;
}
.content {
  display: flex;
  justify-content: space-between;
}
.thumbnail {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(184,4,4,0.12);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.headline {
  width: 40%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 40px;
  color: #fff;
  text-align: right;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
.headline__heading {
  line-height: 3.5rem;
  font-weight: 300;
  font-size: 2.2rem;
  text-shadow: 2px 2px #660000;
}
.headline__text {
  margin-top: 30px;
  text-shadow: 2px 2px #4d0000;
  color: #ffa3a3;
}
@media (max-width: 1023px) {
  body {
    overflow: auto;
  }
  .container {
    height: 100vh;
    overflow: auto;
    margin: 30px 0;
  }
  .content {
    flex-direction: column;
    height: auto;
  }
  .headline {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .thumbnail {
    width: 100%;
  }
  .headline__heading {
    line-height: 3rem;
  }
  .headline__text {
    margin-top: 10px;
  }
 }

@media (max-width: 640px) {}

@media (min-width: 768px) and (max-width: 1023px) { }

@media (min-width: 1024px) { }

@media (min-width: 1280px) { }

@media (min-width: 1536px) { }
