.detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 460px;
  height: auto;
  display: none;
}
.detail__img {
  height: 259px;
  background: blue;
  position: relative;
}
.detail__img img {
  width: 100%;
}
.detail__heading {
  font-size: 1.4rem;
  margin-bottom: 15px;
  line-height: 1.8rem;
}
.detail__date {
  font-size: 0.8rem;
  opacity: 0.6;
  margin-bottom: 3px;
}
.detail__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.detail__link {
  flex: 0 0 40px;
  margin-top: 20px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
}
.icon {
  display: block;
  width: 2rem;
  height: 2rem;
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.3);
  fill: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
use {
  transform: translateX(-3rem);
}
.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  transition: .3s;
}
