.detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 460px;
  height: auto;
  display: none;
}
.detail__img {
  height: 259px;
  background: blue;
  position: relative;
}
.detail__img img {
  width: 100%;
}
.detail__heading {
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.detail__date {
  font-size: 0.8rem;
  opacity: 0.6;
  margin-bottom: 3px;
}
.detail__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.detail__link {
  margin: 20px auto 0 auto;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  background: linear-gradient(180deg, #d20404 0%, #c30404 50%);
  border-top: 1px solid transparent;
  box-shadow: 0 5px 0 0 #840303;
  width: 100%;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
}
.icon {
  display: block;
  width: 2rem;
  height: 2rem;
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.3);
  fill: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
use {
  transform: translateX(-3rem);
}
.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 10;
  display: none;
  transition: .3s;
}
