.thumbnail__list {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
}
[class^="thumbnail__item-"] {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.thumbnail-zoom {  
  transition: all .3s ease-in-out;
}
.thumbnail-zoom:hover {
  transform: scale(1.05);
}
.thumbnail-bigger {
  transform: scale(1.05);
}
[class^="thumbnail__item-"]:nth-child(1),
[class^="thumbnail__item-"]:nth-child(2) {
  margin-bottom: 20px;
}
.thumbnail__item__img {
  box-shadow: rgba(139, 0, 0, 0.6) 2px 2px 4px 2px;
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 5px;
}
.thumbnail-glow {
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 8px 3px;
}
[class^="thumbnail__item"] img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.thumbnail-no-pointer:hover {
  cursor: default;
}
.thumbnail-pointer:hover {
  cursor: pointer;
}
.thumbnail__item__text {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 0.8rem;
  height: 1rem;
  color: #fff;
}
.text-lower-opacity {
  opacity: 0.5;
}
